/* Sourcegraph brand colors */
:root {
  /* Vermilion - core color family */
  --vermilion-00: #060000;
  --vermilion-01: #200302;
  --vermilion-02: #410604;
  --vermilion-07: #F34E3F; /* Hero color */
  --vermilion-08: #FF7867;
  --vermilion-11: #FFF3F0;

  /* Violet - secondary color family */
  --violet-00: #030106;
  --violet-01: #120720;
  --violet-02: #291242;
  --violet-07: #A96AF3;
  --violet-08: #BE8CFF;
  --violet-11: #FAF4FF;

  /* Teal - tertiary color family */
  --teal-00: #000204;
  --teal-01: #001118;
  --teal-02: #002533;
  --teal-07: #00A0C8;
  --teal-08: #4DB8DA;
  --teal-11: #EAFCFF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--vermilion-11);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--vermilion-07);
}

.App-link {
  color: var(--teal-07);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
